.nav-links {
  background-color: #333;
  overflow: hidden;
}

.nav-links a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-links a:hover {
  background-color: #ddd;
  color: black;
}

.nav-llinks a.active {
  background-color: #04aa6d;
  color: white;
}

.container {
  display: flex;
  gap: 30px;
}
