.nav-links {
  background-color: #333;
  overflow: hidden;
}

.nav-links a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-links a:hover {
  background-color: #ddd;
  color: black;
}

.nav-llinks a.active {
  background-color: #04aa6d;
  color: white;
}

.container {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #333;
  color: white;
}

.myname {
  font-size: 30px;
  flex-basis: 200px;
  flex-shrink: 1;
}

.tag-line {
  flex-basis: 400px;
  flex-shrink: 1;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.content {
  display: flex;
  gap: 50px;
}

.item-1 {
  flex-basis: 25%;
  border-style: dashed;
}
.item-2 {
  flex-basis: 25%;
  border-style: dashed;
}

.item-3 {
  flex-basis: 25%;
  border-style: dashed;
}

.footer {
  justify-content: center;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
}
